.experiencia {
  max-width: 1200px;
  padding: 20px;
  margin-top: 3rem;
  margin: 0 auto;
}

.titulo-h2 {
  margin-top: 4.8rem;
  text-transform: uppercase;
  font-size: 2.35rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-h2::after {
  content: "";
  display: block;
  width: 6.2rem;
  height: 4px;
  background-color: blue;
}

.experiencia-container {
  margin-top: 2rem;
  margin-top: 3rem;
}

.experiencia ul li:hover {
  color: rgb(43, 43, 214);
  transform: scale(1.05, 1.05);
  opacity: 1;
  transition: 0.4s;
}

.experiencia-container img:hover {
  transform: scale(1.12, 1.12);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.wildbeast {
  display: flex;
  align-items: center;
  text-align: end;
}

.wildbeast h3 a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
}

.paragrafo {
  color: #525252;
  margin-top: 20px;
  display: block;
}

.wildbeast ul {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wild-foto img {
  max-width: 503px;
  max-height: 309px;
  margin-left: 6rem;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.brafe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: start;
  margin-top: 7rem;
}

.brafe-textos {
  grid-column: 2;
  grid-row: 1;
}

.brafe h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.brafe ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.brafe-foto img {
  width: 503px;
  height: 309px;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.bikcraft {
  display: flex;
  align-items: center;
  text-align: end;
  margin-top: 7rem;
}

.bikcraft h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bikcraft ul {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.bike-foto img {
  max-width: 503px;
  height: 309px;
  margin-left: 6rem;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.animaisFan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 7rem;
}

.animais-textos {
  grid-column: 2;
  grid-row: 1;
}

.animaisFan h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.animaisFan ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.animaisFan-foto img {
  width: 503px;
  height: 309px;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.relogios {
  display: flex;
  align-items: center;
  text-align: end;
  margin-top: 7rem;
}

.relogios h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.relogios ul {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.relogios-foto img {
  max-width: 503px;
  height: 309px;
  margin-left: 6rem;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.buscador {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 7rem;
}

.buscador-textos {
  grid-column: 2;
  grid-row: 1;
}

.buscador h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buscador ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.buscador-foto img {
  max-width: 503px;
  height: 309px;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

@media (max-width: 1145px) {
  .titulo-h2::after {
    content: "";
    display: block;
    width: 6.2rem;
    height: 4px;
    background-color: blue;
    margin: 0 auto;
  }

  .titulo-h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .wildbeast {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .wild-foto img {
    margin-left: 0px;
    grid-row: 1;
  }
  .wild-textos {
    margin-top: 1.8rem;
    grid-row: 2;
    max-width: 700px;
    text-align: center;
  }

  .wild-textos ul {
    display: flex;
    justify-content: center;
  }

  .brafe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .wild-foto img {
    margin-left: 0px;
    justify-self: flex-start;
  }

  .brafe-textos {
    margin-top: 1.8rem;
    max-width: 700px;
    grid-row: 2;
    text-align: center;
    order: 1;
  }

  .brafe-textos ul {
    display: flex;
    justify-content: center;
  }

  .bikcraft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bike-foto img {
    margin-left: 0px;
    justify-self: flex-start;
  }

  .bik-textos {
    margin-top: 1.8rem;
    grid-row: 2;
    text-align: center;
    max-width: 700px;
    order: 1;
  }

  .bik-textos ul {
    display: flex;
    justify-content: center;
  }

  .animaisFan {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .animaisFan-foto img {
    display: flex;
    margin: 0 auto;
    grid-row: 1;
    width: 503px;
    height: 309px;
    border: solid 1px rgb(43, 43, 214);
    transition: 0.3s;
  }

  .animais-textos {
    grid-row: 2;
    grid-column: 1;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
  }

  .animais-textos h3 {
    margin-top: 1.8rem;
  }

  .animais-textos ul {
    display: flex;
    justify-content: center;
  }

  .relogios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .relogios-foto img {
    margin-left: 0px;
    justify-self: flex-start;
  }

  .relogios-textos {
    margin-top: 1.8rem;
    grid-row: 2;
    text-align: center;
    max-width: 700px;
    order: 1;
  }

  .relogios-textos ul {
    display: flex;
    justify-content: center;
  }

  .buscador {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .buscador-foto img {
    display: flex;
    margin: 0 auto;
    grid-row: 1;
    width: 503px;
    height: 309px;
    border: solid 1px rgb(43, 43, 214);
    transition: 0.3s;
  }

  .buscador-textos {
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    margin: 0 auto;
    max-width: 700px;
  }

  .buscador-textos h3 {
    margin-top: 1.8rem;
  }

  .buscador-textos ul {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 910px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #container .second {
    margin-top: 2rem;
  }
}

@media (max-width: 660px) {
  .wild-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .titulo-h2 {
    font-size: 2rem;
  }

  .paragrafo {
    font-size: 1rem;
  }

  .wild-textos ul li {
    font-size: 1rem;
  }

  .wild-textos h3 a {
    font-size: 1.7rem;
  }

  .brafe-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .brafe-textos ul li {
    font-size: 1rem;
  }

  .brafe-textos h3 a {
    font-size: 1.7rem;
  }

  .bike-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .paragrafo {
    font-size: 1rem;
  }

  .bikcraft ul li {
    font-size: 1rem;
  }

  .bik-textos h3 a {
    font-size: 1.7rem;
  }

  .animaisFan-foto img {
    grid-row: 1;
    width: 290px;
    height: 180px;
  }
  .paragrafo {
    font-size: 1rem;
  }

  .animaisFan li {
    font-size: 1rem;
  }

  .animais-textos h3 a {
    font-size: 1.7rem;
  }

  .animais-textos {
    text-align: center;
  }

  .relogios-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .relogios ul li {
    font-size: 1rem;
  }

  .relogios-textos h3 a {
    font-size: 1.7rem;
  }

  .buscador-foto img {
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .buscador li {
    font-size: 1rem;
  }

  .buscador-textos h3 a {
    font-size: 1.7rem;
  }

  .buscador-textos {
    text-align: center;
  }
}

@media (max-width: 365px) {
  .wild-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }
  .paragrafo {
    font-size: 1rem;
  }

  .wild-textos ul li {
    font-size: 1rem;
  }

  .wild-textos h3 a {
    font-size: 1.7rem;
  }

  .brafe-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }

  .brafe-textos ul li {
    font-size: 1rem;
  }

  .brafe-textos h3 a {
    font-size: 1.7rem;
  }

  .bike-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }

  .paragrafo {
    font-size: 1rem;
  }

  .bikcraft ul li {
    font-size: 1rem;
  }

  .bik-textos h3 a {
    font-size: 1.7rem;
  }

  .animaisFan-foto img {
    grid-row: 1;
    width: 250px;
    height: 140px;
  }
  .paragrafo {
    font-size: 1rem;
  }

  .animaisFan li {
    font-size: 1rem;
  }

  .animais-textos h3 a {
    font-size: 1.7rem;
  }

  .animais-textos {
    text-align: center;
  }

  .relogios-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }

  .relogios ul li {
    font-size: 1rem;
  }

  .relogios-textos h3 a {
    font-size: 1.7rem;
  }

  .buscador-foto img {
    margin-left: 0px;
    width: 250px;
    height: 140px;
    margin: 0 auto;
  }
}
