.experiencia {
  max-width: 1200px;
  padding: 20px;
  margin-top: 3rem;
  margin: 0 auto;
}

.titulo-h2 {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-h2::after {
  content: "";
  display: block;
  width: 6.2rem;
  height: 4px;
  background-color: blue;
}

.experiencia-container {
  margin-top: 2rem;
  margin-top: 3rem;
}

.experiencia ul li:hover {
  color: rgb(43, 43, 214);
  transform: scale(1.05, 1.05);
  opacity: 1;
  transition: 0.4s;
}

.experiencia-container img:hover {
  transform: scale(1.12, 1.12);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.paragrafo {
  color: #525252;
  margin-top: 20px;
  display: block;
}

.projetosRig {
  display: flex;
  align-items: center;
  text-align: end;
  margin-top: 7rem;
}

.projetosRig h3 a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
}

.projetosRig ul {
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.projetosRig img {
  max-width: 503px;
  height: 309px;
  margin-left: 6rem;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

.projetosLef {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: start;
  margin-top: 7rem;
}

.projetosLef-textos {
  grid-column: 2;
  grid-row: 1;
}

.projetosLef h3 a {
  text-decoration: none;
  color: #141414;
  font-size: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.projetosLef ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.projetosLef-foto img {
  width: 503px;
  height: 309px;
  border: solid 1px rgb(43, 43, 214);
  transition: 0.3s;
}

@media (max-width: 1145px) {
  .titulo-h2::after {
    content: "";
    display: block;
    width: 6.2rem;
    height: 4px;
    background-color: blue;
    margin: 0 auto;
  }

 
  .titulo-h2 {
    text-align: center;
    margin-bottom: -3.5rem;
    font-size: 2.4rem;
  }

  .projetosRig {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .projetosRig-foto img {
    margin-left: 0px;
    grid-row: 1;
  }
  .projetosRig-textos {
    margin-top: 1.8rem;
    grid-row: 2;
    max-width: 700px;
    text-align: center;
  }

  .projetosRig-textos ul {
    display: flex;
    justify-content: center;
  }

  .projetosLef {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projetosLef-textos {
    margin-top: 1.8rem;
    max-width: 700px;
    grid-row: 2;
    text-align: center;
    order: 1;
  }

  .projetosLef-textos ul {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 910px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #container .second {
    margin-top: 2rem;
  }
}

@media (max-width: 660px) {
  .paragrafo {
    font-size: 1.2rem;
  }

  .titulo-h2 {
    font-size: 2rem;
  }

  .projetosRig-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .projetosRig-textos ul li {
    font-size: 1rem;
  }

  .projetosRig-textos h3 a {
    font-size: 1.7rem;
  }
  
  .projetosLef-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 290px;
    height: 180px;
  }

  .projetosLef-textos ul li {
    font-size: 1rem;
  }

  .projetosLef-textos h3 a {
    font-size: 1.7rem;
  }
}

@media (max-width: 365px) {
  .paragrafo {
    font-size: 1rem;
  }

  .projetosRig-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }

  .projetosRig-textos ul li {
    font-size: 1rem;
  }

  .projetosRig-textos h3 a {
    font-size: 1.7rem;
  }

  .projetosLef-foto img {
    margin-left: 0px;
    grid-row: 1;
    width: 250px;
    height: 140px;
  }

  .projetosLef-textos ul li {
    font-size: 1rem;
  }

  .projetosLef-textos h3 a {
    font-size: 1.7rem;
  }
}
